*{
    margin: 0;
    padding: 0;
    }
    .input{
        border: 1px solid;
        width: 40%;
        height: 50px;
    }
    .button{
        border: 1px solid #F9B822;
        width: 138px;
    height: 56px;
    color: black;
    background-color: #F9B822;
    border-radius: 40px;
    }
    .border1{
        border: 1px solid blue;
        width: 121px;
        height: 48px;
        border-radius: 40px;
        background-color: white;
        font-size: 18px;
    }
    .border2{
        border: 1px solid blue;
        width: 121px;
        height: 48px;
        border-radius: 40px;
        background-color:blue;
        font-size: 18px;
        color: white;
    }
    .picture{
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
        justify-content: space-evenly;
    }
    .container1{
        background-color: #142C8E;
    }
    .text1{
        color: white;
        font-size: 52px;
    }
    .text-color{
        cursor: pointer;
        color: #1436A4;
    }
    .text2{
        color: white;
        font-size: 15px;
    }
    .center{
        margin-left: 300px;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
        justify-content: space-evenly;
        
    }
    .images{
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
        justify-content: space-evenly;
        
    }
    .logo{
        width: 70px;
        margin-left: 250px;
    }
    .blue-box{
        background-color: navy;
    }
    .blue-text{
        color: #fff;
        margin-left: 500px;
    
    }
    .line-2{
        color: #fff;
        margin-left: 80px;
        
    } 
    .screen{
     margin-left: 450px;
      margin-top: 50px;   
    }
    .list-end{
     margin-left: 200px;   
     margin-top: 50px;
    }
    .line-x{
        
     margin-left: 450px;   
     margin-top: 20px;
    }